[submodule "jutge-exec"]
	path = jutge-exec
	url = https://github.com/jutge-org/jutge-exec
[submodule "tests/hello-world/jutge-driver-std"]
	path = drivers/std
	url = https://github.com/jutge-org/jutge-driver-std
[submodule "drivers/graphic"]
	path = drivers/graphic
	url = https://github.com/jutge-org/jutge-driver-graphic
[submodule "jutge-driver-circuits"]
	path = drivers/circuits
	url = https://github.com/jutge-org/jutge-driver-circuits/
